EasyTkinter==1.1.0
Pillow==8.0.1
opencv-python==4.4.0.46
serial==0.0.97
RPi.GPIO==0.7.0
gpiozero==1.5.1

























































# String has 4 thing all have identifier
#
# Sample String:
# 010035199187790521100000213110DT1902039A17210131
#
#
# Extracted data:
# GTIN: 00351991877905
# SERIAL: 1000002131
# LOT: DT1902039A
# EXP: 210131
#
# Bifurcation:
# 01 means GTIN IT WILL ALWAYS 14 DIGIT
#
# 21 means serial number end with fnc(specific hax key)
#
# 10 mean LOT end with fnc
#
# 17 means exp which in all ways YYMMDD FORMAT